*{
    padding: 0;
    margin: 0;
}
.navbar-inverse{
    background: none;
    border: none;
    padding: 0 50px;
    background: rgba(0,0,0,0.6)
}
.logo {
    font-family: Gadugi;
    font-size: 30px;
}
.container{
    width:;
    padding: 0;
}
.nav{
    margin-left: 100px;
}
.nav li a{
    padding:15px 30px;
    color: white !important;
    border-radius: 20px;
    -webkit-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.nav li a:hover{
    background-color: #ffffff;
    color: #EEA200;
}

.item{
    width: 100%;
    margin: 0;
    padding: 0;
}
.item img{
    width: 100%;
}
.form{
    background:rgba(1,1,1,0.1);
    padding: 20px;
    height: 400px;
}
.footer div ul{
    list-style: none
}
.footer div ul li{
    line-height: 2;
}
.input-group-addon {
    background-color: forestgreen;
}
.info li a:hover{
    color: darkgray;
}
.info li a{
    text-decoration: none;
}
.info li{
    border-bottom: 1px dashed black;
}
.info {
    font-weight: bold;
    font-family: "Arial Narrow";
    font-size: 20px;
}
.footer div ul li a{
    color: gray
}
.address {
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    color: azure;

}
.footer{
    background:rgba(1,1,0,0.6);
    padding: 10px;
}
.search{
    min-width: 250px;
    height: 30px;
    box-shadow: inset 0 0 255px 255px black;
    border-color: gray
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 5px;
}



